:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --alternative-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --alt-bg-color: #2f303a;
}

body {
  background-color: var(--alternative-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

/*Site nav*/

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.navig {
  margin-left: 93px;
}

.site-nav > li:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.accent-logo {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* active link */

.site-nav .active {
  color: var(--accent-color);
}

/*Cont nav*/

.cont-nav {
  display: flex;
  margin-left: auto;
}

.cont-nav > li:not(:last-child) {
  margin-right: 40px;
}

.cont-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.cont-nav .link:hover,
.cont-nav .link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--alt-bg-color);
  text-align: center;
}

.hero .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  color: var(--alternative-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  border: transparent;

  color: var(--alternative-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Features */

.feat {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  display: flex;
}

.features-card:not(:last-child) {
  margin-right: 30px;
}

.feat-title {
  margin-top: 0;
  margin-bottom: 10px;
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feat-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feat-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

.feat-icon {
  display: block;
  width: 70px;
  height: 70px;
}

/* examples */

.examp {
  padding-bottom: 94px;
}

.examples {
  display: flex;
}

.examples > li:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* team */

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
}

.team > li:not(:last-child) {
  margin-right: 30px;
}

.team > li > img {
  display: block;
}

.team-job {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 10px 0;
}

.team-descr {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--alternative-color);
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-networks {
  display: flex;
  justify-content: center;
}

.team-network:not(:last-child) {
  margin-right: 10px;
}

.network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.team-netw {
  fill: currentColor;
}

.network-link:hover,
.network-link:focus {
  color: var(--alternative-color);
  background-color: var(--accent-color);
}

/* clients */

.regular-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-logo {
  fill: currentColor;
}

/* footer */

.footer-navigation {
  display: flex;
}

.foot-address {
  margin-right: 70px;
}

.footer {
  background-color: var(--alt-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--alternative-color);
}

.footer-link {
  display: block;
  margin-top: 12px;
  color: var(--footer-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--alternative-color);
}
.address-text {
  color: var(--alternative-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 28px;
}

.footer-networks {
  margin-top: 12px;
}

.footer-networks > p {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--alternative-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.foot-network:not(:last-child) {
  margin-right: 10px;
}

.footer-netw-links {
  display: flex;
}

.foot-netw-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--alternative-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.foot-netw-link:hover,
.foot-netw-link:focus {
  background-color: var(--accent-color);
}

.foot-netw {
  fill: currentColor;
}

/* PORTFOLIO PAGE */

/* portfolio nav */

.portfolio {
  padding: 94px 0;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav .active-btn > button {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  color: var(--alternative-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-nav > li > button {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
}

.portfolio-nav > li > button:hover,
.portfolio-nav > li > button:focus {
  color: var(--alternative-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-nav > li:not(:last-child) {
  margin-right: 8px;
}

/* portfolio projects */

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-projects > li {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-projects > li:nth-child(3n) {
  margin-right: 0;
}

.portfolio-projects > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-descr {
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-projects .link {
  text-decoration: none;
}

.portf-card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-card:hover,
.portfolio-card:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
